<%- include('../partials/header'); %>

<section class="jumbotron text-center">
   <div class="container">
      <h1>Felix's Collection of Yoga Routines</h1>
      <p class="lead text-muted">I put these together cause I don't want to have to watch a video, enjoy!</p>
      <% if(currentUser){ %>
         <p>
            <a href="routines/new" class="btn btn-primary my-2">Add a new routine!</a>
         </p>
      <% } %>
   </div>
</section>

<div class="row mb-2">
   <% routines.forEach((routine) => { %>
      <div class="col-md-6">
         <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
               <strong class="d-inline-block mb-2 text-primary"><%= routine.author %></strong>
               <h3 class="mb-0"><%= routine.name %></h3>
               <div class="mb-1 text-muted">
                  <span><%- routine.style %></span> | 
                  <span>Difficulty: <%- routine.level %></span> | 
                  <span><%- routine.length %> minutes</span>
               </div>
               <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
               <div class="row justify-content-around">
                  <a href="/routines/<%= routine._id %>" class="stretched-link">Continue reading</a>
                  <div class="btn-group justify-content-end">
                     <div class="col-xs-2">
                        <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %>
                           <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        <% } %>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-auto d-none d-lg-block">
               <img class="bd-placeholder-img" src="<%= routine.image %>">
            </div>
         </div>
      </div>
   <% }); %>
</div>

<%- include('../partials/footer'); %>