<%- include('../partials/header'); %>

<section class="jumbotron text-center">
   <div class="container">
      <h1>Felix's Collection of Yoga Routines</h1>
      <p class="lead text-muted">I put these together cause I don't want to have to watch a video, enjoy!</p>
      <% if(currentUser){ %>
         <p>
            <a href="routines/new" class="btn btn-primary my-2">Add a new routine!</a>
         </p>
      <% } %>
   </div>
</section>

<div class="container">
<div class="row mb-2">
   <% routines.forEach((routine) => { %>
      <div class="col-md-6">
         <div class="col justify-content-between rounded overflow-hidden flex-md-row mx-2 my-3 p-0 shadow-sm h-md-250 position-relative bg-dark">
            <div class="col-s-6">
               <img class="img-fluid routine-image" src="<%= routine.image %>">
            </div>
            <div class="col-s-6 p-4 d-flex flex-column position-static">
               <strong class="mb-2"><%= routine.author %></strong>
               <h3 class="mb-0"><%= routine.name %></h3>
               <div class="mb-1 text-muted">
                  <span><%- routine.style %></span> | 
                  <span>Difficulty: <%- routine.level %></span> | 
                  <span><%- routine.length %> minutes</span>
                  <br> 
                  <span>Accessories preferred? <%- routine.accessories %></span>
               </div>
               <div class="row justify-content-around">
                  <a href="/routines/<%= routine._id %>" class="stretched-link col align-self-end">Check it out</a>
                  <div class="btn-group">
                     <div class="col-xs-2">
                        <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %>
                           <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        <% } %>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
   <% }); %>
</div>
</div>

<%- include('../partials/footer'); %>