<%- include('../partials/header'); %>

<div class="container">
    <div class="row thumbnail">
        <div class="col-md-5">
            <img class="img-responsive" src="<%= routine.image %>">
        </div>
        <div class="col-md-7">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 class="pull-right"><%= routine.author %></h4>
                    <h4><%= routine.name %></h4>
                </div>
                <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %> 
                    <a class="btn btn-warning pull-right" href="/routines/<%= routine._id %>/edit">Edit Titlecard</a>
                    <form action="/routines/<%= routine._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger pull-left" href="/routines/<%= routine._id %>/*">Delete Entire Routine</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <div class="text-right">
            </div>
            <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %> 
                <a class="btn btn-success pull-right" href="/routines/<%= routine._id %>/steps/new">Add a New Step</a>
            <% } %>
            <% routine.steps.forEach((step) => { %>
                <div class="row">
                    <div class="thumbnail">
                        <div class="col-md-4 caption-full">
                            <img src="<%= step.image %>" class="stepImage">
                        </div>
                        <div class="col-md-8 caption-full">
                            <p>
                                <%= step.text %>
                            </p>
                            <br>
                            <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning"
                                    href="/routines/<%= routine.id %>/steps/<%= step._id %>/edit">
                                    edit step
                                </a>                           
                                <form id="delete-form" action="/routines/<%= routine.id %>/steps/<%= step._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="delete step">
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>              
                <hr>
            <% }); %>
            <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %> 
                <a class="btn btn-success pull-right" href="/routines/<%= routine._id %>/steps/new">Add a New Step</a>
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>