<%- include('../partials/header'); %>

<div class="container">
    <div class="row jumbotron p-0 p-md-2 text-white rounded bg-dark">
        <div class="col-md-8 px-0">
            <img class="img-responsive" src="<%= routine.image %>" id="routine-image">
        </div>
        <div class="col-md-4 px-0">
            <h6 class="pull-right font-italic"><%= routine.author %></h4>
            <h4 class="pull-right border-bottom"><%= routine.name %></h4>
            <h6><%= routine.style %></h6>
            <h6><%= routine.level %></h6>
            <h6><%= routine.length %></h6>
            <h6><%= routine.accessories %></h6>
            <div>
                <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %> 
                    <a class="btn btn-warning pull-right" href="/routines/<%= routine._id %>/edit">Edit Titlecard</a>
                    <form action="/routines/<%= routine._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger pull-left" href="/routines/<%= routine._id %>/*">Delete Entire Routine</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>

    <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %> 
        <a class="btn btn-success pull-right" href="/routines/<%= routine._id %>/steps/new">Add a New Step</a>
    <% } %>
    <% let count = 1; %>
    <% routine.steps.forEach((step) => { %>
        <div class="row mb-3 bg-dark rounded">
            <div class="col-md-8 blog-main">
                <div class="row">
                    <div class="blog-post col-6">
                        <img src="<%= step.image %>" class="stepImage">
                    </div>
                    <div class="blog-post col-6">
                        <img src="<%= step.image %>" class="stepImage">
                    </div>
                </div> 
            </div>
            <aside class="col-md-4 blog-sidebar">
                <div class="p-2">
                    <p> Step <%= count %></p>
                    <p><%= step.text %></p> 
                </div>
                <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %>
                    <a class="btn btn-xs btn-warning"
                    href="/routines/<%= routine.id %>/steps/<%= step._id %>/edit">
                    edit step
                </a>                           
                <form id="delete-form" action="/routines/<%= routine.id %>/steps/<%= step._id %>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-xs btn-danger" value="delete step">
                </form>
                <% } %>
            </aside><!-- /.blog-sidebar -->  
        </div><!-- /.row -->
        <span class="step-count"><%= count += 1 %></span>
        <% }); %>
        <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %> 
        <a class="btn btn-success pull-right" href="/routines/<%= routine._id %>/steps/new">Add a New Step</a>
    <% } %>

<%- include('../partials/footer'); %>