<%- include('../partials/header'); %>

<div class="container">
    <div class="row thumbnail">
        <div class="col-md-5">
            <img class="img-responsive" src="<%= routine.image %>">
            <!-- <p class="lead">Image</p> -->
        </div>
        <div class="col-md-7">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 class="pull-right"><%= routine.author %></h4>
                    <h4><%= routine.name %></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="well">
            <div class="text-right">
            </div>
            <% if(currentUser){ %> 
                <a class="btn btn-success pull-right" href="/routines/<%= routine._id %>/steps/new">Add a New Step</a>
            <% } %>
            <% routine.steps.forEach((step) => { %>
                <div class="row">
                    <div class="thumbnail">
                        <div class="col-md-4 caption-full">
                            <img src="<%= step.image %>" class="stepImage">
                        </div>
                        <div class="col-md-8 caption-full">
                            <p>
                                <%= step.text %>
                            </p>                            
                        </div>
                    </div>
                </div>              
                <% if(currentUser){ %>  
                    <a class="btn btn-danger pull-right" href="/routines/<%= routine._id %>/steps/delete">Delete This Step</a>
                <% } %>
                <hr>
            <% }); %>
            <% if(currentUser){ %> 
                <a class="btn btn-success pull-right" href="/routines/<%= routine._id %>/steps/new">Add a New Step</a>
            <% } %>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>