<%- include('../partials/header'); %>

<div class="container">
    <div class="row jumbotron p-0 p-md-2 text-white rounded bg-dark">
        <div class="col-md-8 px-0">
            <img class="img-responsive w-100 border-right p-2 mr-2" src="<%= routine.image %>">
        </div>
        <div class="col-md-4">
            <h6 class= font-italic text-center"><%= routine.author %></h6>
            <h4 class= border-bottom text-center p-2"><%= routine.name %></h4>
            <ul class="routine-meta">
                <p>Yoga style: <strong><%= routine.style %></strong></p>
                <p>Difficulty level: <strong><%= routine.level %></strong></p>
                <p>Routine duration: <strong><%= routine.length %></strong></p>
                <p>Do I need a belt or block? : <strong><%= routine.accessories %></strong></p>
            </ul>

            <div class="d-flex align-content-end">
                <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %> 
                    <a class="btn btn-warning" href="/routines/<%= routine._id %>/edit">Edit Titlecard</a>
                    <form action="/routines/<%= routine._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger pull-left" href="/routines/<%= routine._id %>/*">Delete Entire Routine</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>

    <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %> 
        <a class="btn btn-success mb-3" href="/routines/<%= routine._id %>/steps/new">Add a New Step</a>
    <% } %>
    <% let count = 1; %>
    <% routine.steps.forEach((step) => { %>
        <div class="row mb-3 bg-dark rounded">
            <div class="col-md-8 blog-main">
                <div class="row">
                    <div class="blog-post col-12 col-lg-6 p-0 border-right">
                        <img src="<%= step.image1 %>" class="stepImage1">
                    </div>
                    <div class="blog-post col-12 col-lg-6 p-0">
                        <img src="<%= step.image2 %>" class="stepImage2">
                    </div>
                </div> 
            </div>
            <aside class="col-md-4 blog-sidebar">
                <div class="p-1">
                    <p class="m-1">Step <%= count %></p>
                    <p><%= step.text %></p> 
                </div>
                <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %>
                    <div class="d-flex align-content-end">
                        <a class="btn btn-warning btn-sm"
                            href="/routines/<%= routine.id %>/steps/<%= step._id %>/edit">
                            edit step
                        </a>                    
                        <form id="delete-form" action="/routines/<%= routine.id %>/steps/<%= step._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-danger btn-sm" value="delete step">
                        </form>
                    </div>
                <% } %>
            </aside><!-- /.blog-sidebar -->  
        </div><!-- /.row -->
        <span class="d-none"><%= count += 1 %></span>
        <% }); %>
        <% if(currentUser && routine.poster.id.equals(currentUser._id)){ %> 
        <a class="btn btn-success" href="/routines/<%= routine._id %>/steps/new">Add a New Step</a>
    <% } %>

<%- include('../partials/footer'); %>