<%- include("../partials/header"); %>

<div class="spacer"></div>

<div class="container form-lead">
    <h1 class="h3 mb-3 font-weight-normal">Edit the step</h1>
</div>
<div class="form-body">        
    <div class="form-form" class="container text-center">            
        <form action="/routines/<%= routine_id %>/steps/<%= step._id %>?_method=PUT" method="POST">                        
            <input class="form-control" type="text" name="step[image1]" value="<%= step.image1 %>" required autofocus>
            <input class="form-control" type="text" name="step[image2]" value="<%= step.image2 %>" required autofocus>
            <input class="form-control" type="text" name="step[text]" value="<%= step.text %>" required>
            <button class="btn btn-lg btn-primary btn-block form-group" type="submit">Submit!</button>
        </form>
        <a href="/routines/<%= routine_id %>">Go back</a>
    </div>
</div>

<%- include("../partials/footer"); %>