<%- include("../partials/header"); %>

<div class="spacer"></div>

<div class="container form-lead">
    <h1 class="h3 mb-3 font-weight-normal">Add a step for <%= routine.name %></h1>
</div>
<div class="form-body">        
    <div class="form-form" class="container text-center">            
        <form action="/routines/<%= routine._id %>/steps" method="POST">                        
            <input class="form-control" type="text" name="step[image1]" placeholder="first image url" required autofocus>
            <input class="form-control" type="text" name="step[image2]" placeholder="second image url" required autofocus>
            <input class="form-control" type="text" name="step[text]" placeholder="desription" required>
            <button class="btn btn-lg btn-primary btn-block form-group" type="submit">Submit!</button>
        </form>
        <a href="/routines/<%= routine._id %>">Go back</a>
    </div>
</div>

<%- include("../partials/footer"); %>